@model ThucTap.Models.DichVu
@{
	ViewData["Title"] = "Thêm";
}
<div class="card">
	<h5 class="card-header">@ViewData["Title"]</h5>
<div class="card-body">
   
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           <div class="mb-3">
				<label asp-for="LoaiDichVuID" class="control-label"></label>
                <select asp-for="LoaiDichVuID" class="form-control" asp-items="ViewBag.LoaiDichVuID">
					<option value="">-- Chọn --</option>
				</select>
                <span asp-validation-for="LoaiDichVuID" class="text-danger"></span>
			</div>
            <div class="mb-3">
                <label asp-for="TenDV" class="control-label"></label>
                <input asp-for="TenDV" class="form-control" />
                <span asp-validation-for="TenDV" class="text-danger"></span>
            </div>
           <div class="mb-3">
    <label asp-for="TieuDe" class="control-label"></label>
    <textarea asp-for="TieuDe" class="form-control" id="TieuDe"></textarea>
    <span asp-validation-for="TieuDe" class="text-danger"></span>
</div>
            <div class="mb-3">
                <label asp-for="NoiDung" class="control-label"></label>
<textarea asp-for="NoiDung" class="form-control"></textarea>
                <span asp-validation-for="NoiDung" class="text-danger"></span>
            </div>
            <div class="mb-0">
                <button type="submit" class="btn btn-primary"><i class="fa-light fa-floppy-disk"></i> Thêm mới</button> hoặc <a asp-action="Index">Quay về danh sách</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/ckeditor5/ckeditor.js"></script>
    <script>
        ClassicEditor.create(document.querySelector('#NoiDung'), {
            licenseKey: '',
        }).then(editor => {
            window.editor = editor;
        }).catch(error => {
            console.error(error);
        });

        ClassicEditor.create(document.querySelector('#TieuDe'), {
            licenseKey: '',
        }).then(editor => {
            window.editor = editor;
        }).catch(error => {
            console.error(error);
        });
    </script>
}