@{
	ViewData["Title"] = "Không được phép";
}
<div class="card">
 <h5 class="card-header">@ViewData["Title"]</h5>
 <div class="card-body">
 <div class="alert alert-danger mb-0" role="alert">
 <i class="fa-light fa-triangle-exclamation"></i> Tài khoản không đủ quyền truy cập chức năng này.
 </div>
 </div>
</div