@model ThucTap.Models.DangNhap
@{
	ViewData["Title"] = "Đăng nhập";
}
<div class="card">
	<h5 class="card-header">@ViewData["DANG NHAP"]</h5>
	<div class="card-body">
		@if (TempData["ThongBaoLoi"] != null)
		{
			<div class="alert alert-danger" role="alert">
				<i class="fa-light fa-triangle-exclamation"></i> @TempData["ThongBaoLoi"]
			</div>
		}
		<form asp-action="Login">
			<input type="hidden" asp-for="LienKetChuyenTrang" value="@ViewBag.LienKetChuyenTrang" />

			<div class="mb-3">
				<label asp-for="TenDangNhap" class="control-label"></label>
				<input asp-for="TenDangNhap" class="form-control" />
				<span asp-validation-for="TenDangNhap" class="text-danger"></span>
			</div>

			<div class="mb-3">
				<label asp-for="MatKhau" class="control-label"></label>
				<input asp-for="MatKhau" class="form-control" />
				<span asp-validation-for="MatKhau" class="text-danger"></span>
			</div>

			<div class="mb-3 form-check">
				<label class="form-check-label">
					<input class="form-check-input" asp-for="DuyTriDangNhap" /> Duy trì đăng nhập
				</label>
			</div>
			<a class="nav-link-inline fs-sm" asp-area="" asp-controller="Home" asp-action="Register">Chưa có tài khoản?</a>

			<div class="mb-0">
				<button type="submit" class="btn btn-primary"><i class="fa-light fa-sign-in-alt"></i> Đăng nhập</button> hoặc <a asp-area="" asp-controller="Home" asp-action="Index">Quay về trang chủ</a>
			</div>
		</form>


	</div>
</div>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}