<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - MOBIFONE</title>
	<link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/css/all.min.css" />
    @await RenderSectionAsync("Styles", required: false)
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ThucTap.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-info mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="Admin" asp-controller="Home" asp-action="Index">MOBIFONE</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                       <li>
                            <a class="nav-link" asp-area="Admin" asp-controller="NguoiDung" asp-action="Index">Quản lý người dùng </a>
                        </li>
                         <li>
                            <a class="nav-link" asp-area="Admin" asp-controller="BaiViet" asp-action="Index">Quản lý  Bài Viết</a>
                        </li>
                         <li>
                            <a class="nav-link" asp-area="Admin" asp-controller="ChuDe" asp-action="Index">Thêm Chủ Đề </a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="Admin" asp-controller="BinhLuanBaiViet" asp-action="Index">Kiểm duyệt Bình luận </a>
                        </li>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="Admin" asp-controller="DichVu" asp-action="Index">Dịch Vụ </a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="Admin" asp-controller="LoaiDichVu" asp-action="Index">Loại Dịch Vụ </a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="Admin" asp-controller="TuyenDung" asp-action="Index">Tuyển dụng</a>
                        </li>
                   
                    </ul>
                </div>
            </div>
        </nav>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>

        <hr />
        <footer>&copy; 2023 bởi ITShop</footer>
    </div>

	<script src="~/lib/jquery/jquery.min.js"></script>
	<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
