@model ThucTap.Models.NguoiDung_ChinhSua


@{
	ViewData["Title"] = "Sửa người dùng";
}
<div class="card">
	<h5 class="card-header">@ViewData["Title"]</h5>
	<div class="card-body">
		<form asp-action="Edit">
			<input type="hidden" asp-for="ID" />
			<div class="mb-3">
				<label asp-for="HoVaTen" class="control-label"></label>
				<input asp-for="HoVaTen" class="form-control" />
				<span asp-validation-for="HoVaTen" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Email" class="control-label"></label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>

			<div class="mb-3">
				<label asp-for="DienThoai" class="control-label"></label>
				<input asp-for="DienThoai" class="form-control" />
				<span asp-validation-for="DienThoai" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="GioiTinh" class="control-label">Giới tính</label>
				<div class="form-check">
					<input asp-for="GioiTinh" class="form-check-input" type="radio" value="Nam" id="gioiTinhNam">
					<label class="form-check-label" for="gioiTinhNam">Nam</label>
				</div>
				<div class="form-check">
					<input asp-for="GioiTinh" class="form-check-input" type="radio" value="Nữ" id="gioiTinhNu">
					<label class="form-check-label" for="gioiTinhNu">Nữ</label>
				</div>
				<span asp-validation-for="GioiTinh" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="DiaChi" class="control-label"></label>
				<input asp-for="DiaChi" class="form-control" />
				<span asp-validation-for="DiaChi" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="TenDangNhap" class="control-label"></label>
				<input asp-for="TenDangNhap" class="form-control" />
				<span asp-validation-for="TenDangNhap" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="MatKhau" class="control-label"></label>
				<input asp-for="MatKhau" class="form-control" placeholder="Bỏ trống để giữ nguyên mật khẩu cũ" />
				<span asp-validation-for="MatKhau" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="XacNhanMatKhau" class="control-label"></label>
				<input asp-for="XacNhanMatKhau" class="form-control" placeholder="Bỏ trống để giữ nguyên mật khẩu cũ" />
				<span asp-validation-for="XacNhanMatKhau" class="text-danger"></span>
			</div>

			<div class="mb-3 form-check">
				<label class="form-check-label">
					<input class="form-check-input" asp-for="Quyen" /> Thiết lập quyền Quản lý
				</label>
			</div>
			<div class="mb-0">
				<button type="submit" class="btn btn-primary"><i class="fa-light fa-floppy-disk"></i> Cập nhật</button> hoặc <a asp-action="Index">Quay về danh sách</a>
			</div>
		</form>
	</div>
</div>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}