@model ThucTap.Models.ChuDe

@{
	ViewData["Title"] = "Xóa chủ đề";



}
<div class="card">
	<h5 class="card-header">@ViewData["Title"]</h5>
	<div class="card-body">
		<form asp-action="Delete">
			<input type="hidden" asp-for="ID" />
			<div class="alert alert-danger" role="alert">
				<i class="fa-light fa-triangle-exclamation"></i> Bạn có muốn xóa chủ đề <strong>@Model.TenChuDe</strong> không?
			</div>
			<div class="mb-0">
				<button type="submit" class="btn btn-danger"><i class="fa-light fa-circle-check"></i> Xác nhận xóa</button> hoặc <a asp-action="Index">Quay về danh sách</a>
			</div>
		</form>
	</div>
</div>